# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Nov 27 2023 20:23:26

# Family & Device:    iCE40LP384

# Package:            QN32

# ##############################################################################

###IOSet List 5
set_io LED1 2 -io_std SB_LVCMOS -pullup no
set_io LED3 32 -io_std SB_LVCMOS -pullup no
set_io clk 8 -io_std SB_LVCMOS -pullup no
set_io BTN1 5 -io_std SB_LVCMOS -pullup no
set_io LED2 1 -io_std SB_LVCMOS -pullup no

