# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Nov 13 2023 13:10:22

# Family & Device:    iCE40LP384

# Package:            QN32

# ##############################################################################

###IOSet List 4
set_io BUTTON 7 -io_std SB_LVCMOS -pullup no
set_io LED1 5 -io_std SB_LVCMOS -pullup no
set_io LED2 6 -io_std SB_LVCMOS -pullup no
set_io clk 8 -io_std SB_LVCMOS -pullup no

