set_location G2.q_8_THRU_LUT4_0 3 5 0 #SB_LUT4
set_location G2.q_7_THRU_LUT4_0 3 5 3 #SB_LUT4
set_location G2.q_6_THRU_LUT4_0 4 6 0 #SB_LUT4
set_location G2.q_5_THRU_LUT4_0 3 5 4 #SB_LUT4
set_location G2.q_4_THRU_LUT4_0 3 5 2 #SB_LUT4
set_location G2.q_3_THRU_LUT4_0 3 5 5 #SB_LUT4
set_location G2.q_2_THRU_LUT4_0 3 5 1 #SB_LUT4
set_location G2.q_1_THRU_LUT4_0 3 5 6 #SB_LUT4
set_location G1.q_8_THRU_LUT4_0 5 7 6 #SB_LUT4
set_location G1.q_7_THRU_LUT4_0 5 7 5 #SB_LUT4
set_location G1.q_6_THRU_LUT4_0 5 8 6 #SB_LUT4
set_location G1.q_5_THRU_LUT4_0 4 8 1 #SB_LUT4
set_location G1.q_4_THRU_LUT4_0 4 8 6 #SB_LUT4
set_location G1.q_3_THRU_LUT4_0 3 8 2 #SB_LUT4
set_location G1.q_2_THRU_LUT4_0 3 8 0 #SB_LUT4
set_location G1.q_1_THRU_LUT4_0 2 7 5 #SB_LUT4
set_location G1.q_0_THRU_LUT4_0 1 7 5 #SB_LUT4
set_location stevec_e_RNO[4] 2 5 0 #SB_LUT4
set_location stevec_e_RNIL8L9[4] 1 5 4 #SB_LUT4
set_location stevec_e[4] 2 5 0 #SB_DFFE
set_location stevec_RNO[3] 1 5 0 #SB_LUT4
set_location stevec_RNO[2] 1 5 3 #SB_LUT4
set_location stevec_RNO[1] 1 5 6 #SB_LUT4
set_location stevec_RNO[0] 1 5 2 #SB_LUT4
set_location stevec_RNI8OFC[1] 1 5 5 #SB_LUT4
set_location stevec[3] 1 5 0 #SB_DFF
set_location stevec[2] 1 5 3 #SB_DFF
set_location stevec[1] 1 5 6 #SB_DFF
set_location stevec[0] 1 5 2 #SB_DFF
set_location G2.q_RNO[9] 3 5 7 #SB_LUT4
set_location G2.q_RNO_0[9] 3 6 3 #SB_LUT4
set_location G2.q[9] 3 5 7 #SB_DFFES
set_location G2.q[8] 3 5 0 #SB_DFFES
set_location G2.q[7] 3 5 3 #SB_DFFES
set_location G2.q[6] 4 6 0 #SB_DFFES
set_location G2.q[5] 3 5 4 #SB_DFFES
set_location G2.q[4] 3 5 2 #SB_DFFES
set_location G2.q[3] 3 5 5 #SB_DFFES
set_location G2.q[2] 3 5 1 #SB_DFFES
set_location G2.q[1] 3 5 6 #SB_DFFES
set_location G1.q_RNO[9] 4 7 3 #SB_LUT4
set_location G1.q[9] 4 7 3 #SB_DFFES
set_location G1.q[8] 5 7 6 #SB_DFFES
set_location G1.q[7] 5 7 5 #SB_DFFES
set_location G1.q[6] 5 8 6 #SB_DFFES
set_location G1.q[5] 4 8 1 #SB_DFFES
set_location G1.q[4] 4 8 6 #SB_DFFES
set_location G1.q[3] 3 8 2 #SB_DFFES
set_location G1.q[2] 3 8 0 #SB_DFFES
set_location G1.q[1] 2 7 5 #SB_DFFES
set_location G1.q[0] 1 7 5 #SB_DFFES
set_location GND -1 -1 -1 #GND
set_location BUTTON1_ibuf_RNIIUI2 1 4 5 #SB_LUT4
set_location BNC_obuf_RNO 4 5 6 #SB_LUT4
set_io clk 8
set_io LED[9] 22
set_io LED[8] 23
set_io LED[7] 26
set_io LED[6] 27
set_io LED[5] 29
set_io LED[4] 30
set_io LED[3] 31
set_io LED[2] 32
set_io LED[1] 1
set_io LED[0] 2
set_io BUTTON3 5
set_io BUTTON1 7
set_io BNC 18
