set_location clk_div_RNO[0] 2 5 0 # SB_LUT4 (LogicCell: clk_div[0]_LC_0)
set_location clk_div[0] 2 5 0 # SB_DFF (LogicCell: clk_div[0]_LC_0)
set_location clk_div_cry_c[0] 2 5 0 # SB_CARRY (LogicCell: clk_div[0]_LC_0)
set_location clk_div_RNO[1] 2 5 1 # SB_LUT4 (LogicCell: clk_div[1]_LC_1)
set_location clk_div[1] 2 5 1 # SB_DFF (LogicCell: clk_div[1]_LC_1)
set_location clk_div_cry_c[1] 2 5 1 # SB_CARRY (LogicCell: clk_div[1]_LC_1)
set_location clk_div_RNO[10] 2 6 2 # SB_LUT4 (LogicCell: clk_div[10]_LC_2)
set_location clk_div[10] 2 6 2 # SB_DFF (LogicCell: clk_div[10]_LC_2)
set_location clk_div_cry_c[10] 2 6 2 # SB_CARRY (LogicCell: clk_div[10]_LC_2)
set_location clk_div_RNO[11] 2 6 3 # SB_LUT4 (LogicCell: clk_div[11]_LC_3)
set_location clk_div[11] 2 6 3 # SB_DFF (LogicCell: clk_div[11]_LC_3)
set_location clk_div_cry_c[11] 2 6 3 # SB_CARRY (LogicCell: clk_div[11]_LC_3)
set_location clk_div_RNO[12] 2 6 4 # SB_LUT4 (LogicCell: clk_div[12]_LC_4)
set_location clk_div[12] 2 6 4 # SB_DFF (LogicCell: clk_div[12]_LC_4)
set_location clk_div_cry_c[12] 2 6 4 # SB_CARRY (LogicCell: clk_div[12]_LC_4)
set_location clk_div_RNO[13] 2 6 5 # SB_LUT4 (LogicCell: clk_div[13]_LC_5)
set_location clk_div[13] 2 6 5 # SB_DFF (LogicCell: clk_div[13]_LC_5)
set_location clk_div_cry_c[13] 2 6 5 # SB_CARRY (LogicCell: clk_div[13]_LC_5)
set_location clk_div_RNO[14] 2 6 6 # SB_LUT4 (LogicCell: clk_div[14]_LC_6)
set_location clk_div[14] 2 6 6 # SB_DFF (LogicCell: clk_div[14]_LC_6)
set_location clk_div_cry_c[14] 2 6 6 # SB_CARRY (LogicCell: clk_div[14]_LC_6)
set_location clk_div_RNO[15] 2 6 7 # SB_LUT4 (LogicCell: clk_div[15]_LC_7)
set_location clk_div[15] 2 6 7 # SB_DFF (LogicCell: clk_div[15]_LC_7)
set_location clk_div_cry_c[15] 2 6 7 # SB_CARRY (LogicCell: clk_div[15]_LC_7)
set_location clk_div_RNO[16] 2 7 0 # SB_LUT4 (LogicCell: clk_div[16]_LC_8)
set_location clk_div[16] 2 7 0 # SB_DFF (LogicCell: clk_div[16]_LC_8)
set_location clk_div_cry_c[16] 2 7 0 # SB_CARRY (LogicCell: clk_div[16]_LC_8)
set_location clk_div_RNO[17] 2 7 1 # SB_LUT4 (LogicCell: clk_div[17]_LC_9)
set_location clk_div[17] 2 7 1 # SB_DFF (LogicCell: clk_div[17]_LC_9)
set_location clk_div_cry_c[17] 2 7 1 # SB_CARRY (LogicCell: clk_div[17]_LC_9)
set_location clk_div_RNO[18] 2 7 2 # SB_LUT4 (LogicCell: clk_div[18]_LC_10)
set_location clk_div[18] 2 7 2 # SB_DFF (LogicCell: clk_div[18]_LC_10)
set_location clk_div_cry_c[18] 2 7 2 # SB_CARRY (LogicCell: clk_div[18]_LC_10)
set_location clk_div_RNO[19] 2 7 3 # SB_LUT4 (LogicCell: clk_div[19]_LC_11)
set_location clk_div[19] 2 7 3 # SB_DFF (LogicCell: clk_div[19]_LC_11)
set_location clk_div_cry_c[19] 2 7 3 # SB_CARRY (LogicCell: clk_div[19]_LC_11)
set_location clk_div_RNO[2] 2 5 2 # SB_LUT4 (LogicCell: clk_div[2]_LC_12)
set_location clk_div[2] 2 5 2 # SB_DFF (LogicCell: clk_div[2]_LC_12)
set_location clk_div_cry_c[2] 2 5 2 # SB_CARRY (LogicCell: clk_div[2]_LC_12)
set_location clk_div_RNO[20] 2 7 4 # SB_LUT4 (LogicCell: clk_div[20]_LC_13)
set_location clk_div[20] 2 7 4 # SB_DFF (LogicCell: clk_div[20]_LC_13)
set_location clk_div_cry_c[20] 2 7 4 # SB_CARRY (LogicCell: clk_div[20]_LC_13)
set_location clk_div_RNO[21] 2 7 5 # SB_LUT4 (LogicCell: clk_div[21]_LC_14)
set_location clk_div[21] 2 7 5 # SB_DFF (LogicCell: clk_div[21]_LC_14)
set_location clk_div_cry_c[21] 2 7 5 # SB_CARRY (LogicCell: clk_div[21]_LC_14)
set_location clk_div_RNO[22] 2 7 6 # SB_LUT4 (LogicCell: clk_div[22]_LC_15)
set_location clk_div[22] 2 7 6 # SB_DFF (LogicCell: clk_div[22]_LC_15)
set_location clk_div_cry_c[22] 2 7 6 # SB_CARRY (LogicCell: clk_div[22]_LC_15)
set_location clk_div_RNO[23] 2 7 7 # SB_LUT4 (LogicCell: clk_div[23]_LC_16)
set_location clk_div[23] 2 7 7 # SB_DFF (LogicCell: clk_div[23]_LC_16)
set_location clk_div_cry_c[23] 2 7 7 # SB_CARRY (LogicCell: clk_div[23]_LC_16)
set_location clk_div_RNO[24] 2 8 0 # SB_LUT4 (LogicCell: clk_div[24]_LC_17)
set_location clk_div[24] 2 8 0 # SB_DFF (LogicCell: clk_div[24]_LC_17)
set_location clk_div_RNO[3] 2 5 3 # SB_LUT4 (LogicCell: clk_div[3]_LC_18)
set_location clk_div[3] 2 5 3 # SB_DFF (LogicCell: clk_div[3]_LC_18)
set_location clk_div_cry_c[3] 2 5 3 # SB_CARRY (LogicCell: clk_div[3]_LC_18)
set_location clk_div_RNO[4] 2 5 4 # SB_LUT4 (LogicCell: clk_div[4]_LC_19)
set_location clk_div[4] 2 5 4 # SB_DFF (LogicCell: clk_div[4]_LC_19)
set_location clk_div_cry_c[4] 2 5 4 # SB_CARRY (LogicCell: clk_div[4]_LC_19)
set_location clk_div_RNO[5] 2 5 5 # SB_LUT4 (LogicCell: clk_div[5]_LC_20)
set_location clk_div[5] 2 5 5 # SB_DFF (LogicCell: clk_div[5]_LC_20)
set_location clk_div_cry_c[5] 2 5 5 # SB_CARRY (LogicCell: clk_div[5]_LC_20)
set_location clk_div_RNO[6] 2 5 6 # SB_LUT4 (LogicCell: clk_div[6]_LC_21)
set_location clk_div[6] 2 5 6 # SB_DFF (LogicCell: clk_div[6]_LC_21)
set_location clk_div_cry_c[6] 2 5 6 # SB_CARRY (LogicCell: clk_div[6]_LC_21)
set_location clk_div_RNO[7] 2 5 7 # SB_LUT4 (LogicCell: clk_div[7]_LC_22)
set_location clk_div[7] 2 5 7 # SB_DFF (LogicCell: clk_div[7]_LC_22)
set_location clk_div_cry_c[7] 2 5 7 # SB_CARRY (LogicCell: clk_div[7]_LC_22)
set_location clk_div_RNO[8] 2 6 0 # SB_LUT4 (LogicCell: clk_div[8]_LC_23)
set_location clk_div[8] 2 6 0 # SB_DFF (LogicCell: clk_div[8]_LC_23)
set_location clk_div_cry_c[8] 2 6 0 # SB_CARRY (LogicCell: clk_div[8]_LC_23)
set_location clk_div_RNO[9] 2 6 1 # SB_LUT4 (LogicCell: clk_div[9]_LC_24)
set_location clk_div[9] 2 6 1 # SB_DFF (LogicCell: clk_div[9]_LC_24)
set_location clk_div_cry_c[9] 2 6 1 # SB_CARRY (LogicCell: clk_div[9]_LC_24)
set_io BTN1_ibuf 0 5 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LED1_obuf 0 7 1 # ICE_IO
set_io LED2_obuf 0 7 0 # ICE_IO
set_io LED3_obuf 2 9 1 # ICE_IO
set_io clk_ibuf_gb_io 0 4 1 # ICE_GB_IO
set_location CONSTANT_ONE_LUT4 1 7 1 # SB_LUT4 (LogicCell: LC_25)
