set_location D1.Q_0_RNIM7846 2 4 0 # SB_LUT4 (LogicCell: D1.Q_0_RNIM7846_LC_0)
set_location D1.Q_0_RNO 2 4 6 # SB_LUT4 (LogicCell: D1.Q_0_LC_1)
set_location D1.Q_0 2 4 6 # SB_DFF (LogicCell: D1.Q_0_LC_1)
set_location D2.Q_0_RNIPEVT5 2 3 3 # SB_LUT4 (LogicCell: D2.Q_0_RNIPEVT5_LC_2)
set_location D2.Q_0_RNIT9R86 2 4 4 # SB_LUT4 (LogicCell: Q_ret_LC_3)
set_location Q_ret 2 4 4 # SB_DFF (LogicCell: Q_ret_LC_3)
set_location D2.Q_0_RNO 2 4 7 # SB_LUT4 (LogicCell: D2.Q_0_LC_4)
set_location D2.Q_0 2 4 7 # SB_DFF (LogicCell: D2.Q_0_LC_4)
set_location D2.g0_0_1 2 4 3 # SB_LUT4 (LogicCell: D2.g0_0_1_LC_5)
set_location LED2_RNO 2 4 1 # SB_LUT4 (LogicCell: LED2_LC_6)
set_location LED2 2 4 1 # SB_DFF (LogicCell: LED2_LC_6)
set_location clk_div_RNIK8D95[19] 2 3 2 # SB_LUT4 (LogicCell: clk_div_RNIK8D95[19]_LC_7)
set_location clk_div_RNO[0] 2 3 7 # SB_LUT4 (LogicCell: clk_div[0]_LC_8)
set_location clk_div[0] 2 3 7 # SB_DFF (LogicCell: clk_div[0]_LC_8)
set_location clk_div_RNO[1] 3 1 5 # SB_LUT4 (LogicCell: clk_div[1]_LC_9)
set_location clk_div[1] 3 1 5 # SB_DFF (LogicCell: clk_div[1]_LC_9)
set_location clk_div_RNO[10] 1 2 1 # SB_LUT4 (LogicCell: clk_div[10]_LC_10)
set_location clk_div[10] 1 2 1 # SB_DFF (LogicCell: clk_div[10]_LC_10)
set_location clk_div_1_cry_10_c 1 2 1 # SB_CARRY (LogicCell: clk_div[10]_LC_10)
set_location clk_div_RNO[11] 1 2 2 # SB_LUT4 (LogicCell: clk_div[11]_LC_11)
set_location clk_div[11] 1 2 2 # SB_DFF (LogicCell: clk_div[11]_LC_11)
set_location clk_div_1_cry_11_c 1 2 2 # SB_CARRY (LogicCell: clk_div[11]_LC_11)
set_location clk_div_RNO[12] 1 2 3 # SB_LUT4 (LogicCell: clk_div[12]_LC_12)
set_location clk_div[12] 1 2 3 # SB_DFF (LogicCell: clk_div[12]_LC_12)
set_location clk_div_1_cry_12_c 1 2 3 # SB_CARRY (LogicCell: clk_div[12]_LC_12)
set_location clk_div_RNO[13] 1 2 4 # SB_LUT4 (LogicCell: clk_div[13]_LC_13)
set_location clk_div[13] 1 2 4 # SB_DFF (LogicCell: clk_div[13]_LC_13)
set_location clk_div_1_cry_13_c 1 2 4 # SB_CARRY (LogicCell: clk_div[13]_LC_13)
set_location clk_div_RNO[14] 1 2 5 # SB_LUT4 (LogicCell: clk_div[14]_LC_14)
set_location clk_div[14] 1 2 5 # SB_DFF (LogicCell: clk_div[14]_LC_14)
set_location clk_div_1_cry_14_c 1 2 5 # SB_CARRY (LogicCell: clk_div[14]_LC_14)
set_location clk_div_RNO[15] 1 2 6 # SB_LUT4 (LogicCell: clk_div[15]_LC_15)
set_location clk_div[15] 1 2 6 # SB_DFF (LogicCell: clk_div[15]_LC_15)
set_location clk_div_1_cry_15_c 1 2 6 # SB_CARRY (LogicCell: clk_div[15]_LC_15)
set_location clk_div_RNO[16] 1 2 7 # SB_LUT4 (LogicCell: clk_div[16]_LC_16)
set_location clk_div[16] 1 2 7 # SB_DFF (LogicCell: clk_div[16]_LC_16)
set_location clk_div_1_cry_16_c 1 2 7 # SB_CARRY (LogicCell: clk_div[16]_LC_16)
set_location clk_div_RNO[17] 1 3 0 # SB_LUT4 (LogicCell: clk_div[17]_LC_17)
set_location clk_div[17] 1 3 0 # SB_DFF (LogicCell: clk_div[17]_LC_17)
set_location clk_div_1_cry_17_c 1 3 0 # SB_CARRY (LogicCell: clk_div[17]_LC_17)
set_location clk_div_RNO[18] 1 3 1 # SB_LUT4 (LogicCell: clk_div[18]_LC_18)
set_location clk_div[18] 1 3 1 # SB_DFF (LogicCell: clk_div[18]_LC_18)
set_location clk_div_1_cry_18_c 1 3 1 # SB_CARRY (LogicCell: clk_div[18]_LC_18)
set_location clk_div_RNO[2] 1 1 1 # SB_LUT4 (LogicCell: clk_div[2]_LC_19)
set_location clk_div[2] 1 1 1 # SB_DFF (LogicCell: clk_div[2]_LC_19)
set_location clk_div_1_cry_2_c 1 1 1 # SB_CARRY (LogicCell: clk_div[2]_LC_19)
set_location clk_div_RNO[20] 1 3 3 # SB_LUT4 (LogicCell: clk_div[20]_LC_20)
set_location clk_div[20] 1 3 3 # SB_DFF (LogicCell: clk_div[20]_LC_20)
set_location clk_div_1_cry_20_c 1 3 3 # SB_CARRY (LogicCell: clk_div[20]_LC_20)
set_location clk_div_RNO[21] 1 3 4 # SB_LUT4 (LogicCell: clk_div[21]_LC_21)
set_location clk_div[21] 1 3 4 # SB_DFF (LogicCell: clk_div[21]_LC_21)
set_location clk_div_1_cry_21_c 1 3 4 # SB_CARRY (LogicCell: clk_div[21]_LC_21)
set_location clk_div_RNO[22] 1 3 5 # SB_LUT4 (LogicCell: clk_div[22]_LC_22)
set_location clk_div[22] 1 3 5 # SB_DFF (LogicCell: clk_div[22]_LC_22)
set_location clk_div_1_cry_22_c 1 3 5 # SB_CARRY (LogicCell: clk_div[22]_LC_22)
set_location clk_div_RNO[23] 1 3 6 # SB_LUT4 (LogicCell: clk_div[23]_LC_23)
set_location clk_div[23] 1 3 6 # SB_DFF (LogicCell: clk_div[23]_LC_23)
set_location clk_div_1_cry_23_c 1 3 6 # SB_CARRY (LogicCell: clk_div[23]_LC_23)
set_location clk_div_RNO[24] 1 3 7 # SB_LUT4 (LogicCell: clk_div[24]_LC_24)
set_location clk_div[24] 1 3 7 # SB_DFF (LogicCell: clk_div[24]_LC_24)
set_location clk_div_RNO[3] 1 1 2 # SB_LUT4 (LogicCell: clk_div[3]_LC_25)
set_location clk_div[3] 1 1 2 # SB_DFF (LogicCell: clk_div[3]_LC_25)
set_location clk_div_1_cry_3_c 1 1 2 # SB_CARRY (LogicCell: clk_div[3]_LC_25)
set_location clk_div_RNO[4] 1 1 3 # SB_LUT4 (LogicCell: clk_div[4]_LC_26)
set_location clk_div[4] 1 1 3 # SB_DFF (LogicCell: clk_div[4]_LC_26)
set_location clk_div_1_cry_4_c 1 1 3 # SB_CARRY (LogicCell: clk_div[4]_LC_26)
set_location clk_div_RNO[5] 1 1 4 # SB_LUT4 (LogicCell: clk_div[5]_LC_27)
set_location clk_div[5] 1 1 4 # SB_DFF (LogicCell: clk_div[5]_LC_27)
set_location clk_div_1_cry_5_c 1 1 4 # SB_CARRY (LogicCell: clk_div[5]_LC_27)
set_location clk_div_RNO[6] 1 1 5 # SB_LUT4 (LogicCell: clk_div[6]_LC_28)
set_location clk_div[6] 1 1 5 # SB_DFF (LogicCell: clk_div[6]_LC_28)
set_location clk_div_1_cry_6_c 1 1 5 # SB_CARRY (LogicCell: clk_div[6]_LC_28)
set_location clk_div_RNO[7] 1 1 6 # SB_LUT4 (LogicCell: clk_div[7]_LC_29)
set_location clk_div[7] 1 1 6 # SB_DFF (LogicCell: clk_div[7]_LC_29)
set_location clk_div_1_cry_7_c 1 1 6 # SB_CARRY (LogicCell: clk_div[7]_LC_29)
set_location clk_div_RNO[8] 1 1 7 # SB_LUT4 (LogicCell: clk_div[8]_LC_30)
set_location clk_div[8] 1 1 7 # SB_DFF (LogicCell: clk_div[8]_LC_30)
set_location clk_div_1_cry_8_c 1 1 7 # SB_CARRY (LogicCell: clk_div[8]_LC_30)
set_location clk_div_RNO[9] 1 2 0 # SB_LUT4 (LogicCell: clk_div[9]_LC_31)
set_location clk_div[9] 1 2 0 # SB_DFF (LogicCell: clk_div[9]_LC_31)
set_location clk_div_1_cry_9_c 1 2 0 # SB_CARRY (LogicCell: clk_div[9]_LC_31)
set_location clk_div_19_THRU_LUT4_0 2 3 6 # SB_LUT4 (LogicCell: clk_div[19]_LC_32)
set_location clk_div[19] 2 3 6 # SB_DFF (LogicCell: clk_div[19]_LC_32)
set_location clk_div_1_cry_19_c 1 3 2 # SB_CARRY (LogicCell: clk_div_1_cry_19_c_LC_33)
set_location clk_div_1_cry_1_c 1 1 0 # SB_CARRY (LogicCell: clk_div_1_cry_1_c_LC_34)
set_location clk_div_RNI06L91[11] 2 2 2 # SB_CARRY (LogicCell: clk_div_RNI06L91[11]_LC_35)
set_location clk_div_RNI2VG93[15] 2 2 6 # SB_CARRY (LogicCell: clk_div_RNI2VG93[15]_LC_36)
set_location clk_div_RNI7GQ5[5] 2 1 4 # SB_CARRY (LogicCell: clk_div_RNI7GQ5[5]_LC_37)
set_location clk_div_RNI86O8[8] 2 1 7 # SB_CARRY (LogicCell: clk_div_RNI86O8[8]_LC_38)
set_location clk_div_RNI8VHP2[14] 2 2 5 # SB_CARRY (LogicCell: clk_div_RNI8VHP2[14]_LC_39)
set_location clk_div_RNI91U1[1] 2 1 0 # SB_CARRY (LogicCell: clk_div_RNI91U1[1]_LC_40)
set_location clk_div_RNIAAMP[10] 2 2 1 # SB_CARRY (LogicCell: clk_div_RNIAAMP[10]_LC_41)
set_location clk_div_RNIF0J92[13] 2 2 4 # SB_CARRY (LogicCell: clk_div_RNIF0J92[13]_LC_42)
set_location clk_div_RNIF3T2[2] 2 1 1 # SB_CARRY (LogicCell: clk_div_RNIF3T2[2]_LC_43)
set_location clk_div_RNIHMP6[6] 2 1 5 # SB_CARRY (LogicCell: clk_div_RNIHMP6[6]_LC_44)
set_location clk_div_RNILFN9[9] 2 2 0 # SB_CARRY (LogicCell: clk_div_RNILFN9[9]_LC_45)
set_location clk_div_RNIM4EP4[18] 2 3 1 # SB_CARRY (LogicCell: clk_div_RNIM4EP4[18]_LC_46)
set_location clk_div_RNIM6S3[3] 2 1 2 # SB_CARRY (LogicCell: clk_div_RNIM6S3[3]_LC_47)
set_location clk_div_RNIN2KP1[12] 2 2 3 # SB_CARRY (LogicCell: clk_div_RNIN2KP1[12]_LC_48)
set_location clk_div_RNIP1F94[17] 2 3 0 # SB_CARRY (LogicCell: clk_div_RNIP1F94[17]_LC_49)
set_location clk_div_RNISTO7[7] 2 1 6 # SB_CARRY (LogicCell: clk_div_RNISTO7[7]_LC_50)
set_location clk_div_RNITVFP3[16] 2 2 7 # SB_CARRY (LogicCell: clk_div_RNITVFP3[16]_LC_51)
set_location clk_div_RNIUAR4[4] 2 1 3 # SB_CARRY (LogicCell: clk_div_RNIUAR4[4]_LC_52)
set_io BUTTON_ibuf 0 4 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LED1_obuf 0 5 1 # ICE_IO
set_io LED2_obuf 0 5 0 # ICE_IO
set_io clk_ibuf_gb_io 0 4 1 # ICE_GB_IO
