ble_pack CONSTANT_ONE_LUT4_LC_1_7_1 { CONSTANT_ONE_LUT4 }
clb_pack LT_1_7 { CONSTANT_ONE_LUT4_LC_1_7_1 }
set_location LT_1_7 1 7
ble_pack clk_div_0_LC_2_5_0 { clk_div_RNO[0], clk_div[0], clk_div_cry_c[0] }
ble_pack clk_div_1_LC_2_5_1 { clk_div_RNO[1], clk_div[1], clk_div_cry_c[1] }
ble_pack clk_div_2_LC_2_5_2 { clk_div_RNO[2], clk_div[2], clk_div_cry_c[2] }
ble_pack clk_div_3_LC_2_5_3 { clk_div_RNO[3], clk_div[3], clk_div_cry_c[3] }
ble_pack clk_div_4_LC_2_5_4 { clk_div_RNO[4], clk_div[4], clk_div_cry_c[4] }
ble_pack clk_div_5_LC_2_5_5 { clk_div_RNO[5], clk_div[5], clk_div_cry_c[5] }
ble_pack clk_div_6_LC_2_5_6 { clk_div_RNO[6], clk_div[6], clk_div_cry_c[6] }
ble_pack clk_div_7_LC_2_5_7 { clk_div_RNO[7], clk_div[7], clk_div_cry_c[7] }
clb_pack LT_2_5 { clk_div_0_LC_2_5_0, clk_div_1_LC_2_5_1, clk_div_2_LC_2_5_2, clk_div_3_LC_2_5_3, clk_div_4_LC_2_5_4, clk_div_5_LC_2_5_5, clk_div_6_LC_2_5_6, clk_div_7_LC_2_5_7 }
set_location LT_2_5 2 5
ble_pack clk_div_8_LC_2_6_0 { clk_div_RNO[8], clk_div[8], clk_div_cry_c[8] }
ble_pack clk_div_9_LC_2_6_1 { clk_div_RNO[9], clk_div[9], clk_div_cry_c[9] }
ble_pack clk_div_10_LC_2_6_2 { clk_div_RNO[10], clk_div[10], clk_div_cry_c[10] }
ble_pack clk_div_11_LC_2_6_3 { clk_div_RNO[11], clk_div[11], clk_div_cry_c[11] }
ble_pack clk_div_12_LC_2_6_4 { clk_div_RNO[12], clk_div[12], clk_div_cry_c[12] }
ble_pack clk_div_13_LC_2_6_5 { clk_div_RNO[13], clk_div[13], clk_div_cry_c[13] }
ble_pack clk_div_14_LC_2_6_6 { clk_div_RNO[14], clk_div[14], clk_div_cry_c[14] }
ble_pack clk_div_15_LC_2_6_7 { clk_div_RNO[15], clk_div[15], clk_div_cry_c[15] }
clb_pack LT_2_6 { clk_div_8_LC_2_6_0, clk_div_9_LC_2_6_1, clk_div_10_LC_2_6_2, clk_div_11_LC_2_6_3, clk_div_12_LC_2_6_4, clk_div_13_LC_2_6_5, clk_div_14_LC_2_6_6, clk_div_15_LC_2_6_7 }
set_location LT_2_6 2 6
ble_pack clk_div_16_LC_2_7_0 { clk_div_RNO[16], clk_div[16], clk_div_cry_c[16] }
ble_pack clk_div_17_LC_2_7_1 { clk_div_RNO[17], clk_div[17], clk_div_cry_c[17] }
ble_pack clk_div_18_LC_2_7_2 { clk_div_RNO[18], clk_div[18], clk_div_cry_c[18] }
ble_pack clk_div_19_LC_2_7_3 { clk_div_RNO[19], clk_div[19], clk_div_cry_c[19] }
ble_pack clk_div_20_LC_2_7_4 { clk_div_RNO[20], clk_div[20], clk_div_cry_c[20] }
ble_pack clk_div_21_LC_2_7_5 { clk_div_RNO[21], clk_div[21], clk_div_cry_c[21] }
ble_pack clk_div_22_LC_2_7_6 { clk_div_RNO[22], clk_div[22], clk_div_cry_c[22] }
ble_pack clk_div_23_LC_2_7_7 { clk_div_RNO[23], clk_div[23], clk_div_cry_c[23] }
clb_pack LT_2_7 { clk_div_16_LC_2_7_0, clk_div_17_LC_2_7_1, clk_div_18_LC_2_7_2, clk_div_19_LC_2_7_3, clk_div_20_LC_2_7_4, clk_div_21_LC_2_7_5, clk_div_22_LC_2_7_6, clk_div_23_LC_2_7_7 }
set_location LT_2_7 2 7
ble_pack clk_div_24_LC_2_8_0 { clk_div_RNO[24], clk_div[24] }
clb_pack LT_2_8 { clk_div_24_LC_2_8_0 }
set_location LT_2_8 2 8
set_io LED2 1
set_io BTN1 5
set_io clk 8
set_io LED3 32
set_io LED1 2
